<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Blog Posts</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 font-sans antialiased">
    <!-- Navbar -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
      <div class="text-3xl font-bold">AI Blog Generator</div>
      <div class="flex">
        <a href="{% url 'bloglist' %}" class="text-xl font-semibold"
          >All Blogs</a
        >
        <p class="px-3">Welcome {{user.username}},</p>
        <a href="{% url 'logout' %}" class="hover:underline">Logout</a>
      </div>
    </nav>
    <!-- Main content container  -->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
      <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
        <!-- Blog posts section -->
        <section>
          <h2 class="text-xl mb-4 font-semibold">All Blog Posts</h2>
          <div class="space-y-4">
            {% for i in articles reversed %}
            <a href="{% url 'details' i.id %}" >
              <div class="border border-gray-300 rounded-lg p-4 my-3">
                <h3 class="text-lg font-semibold">{{i.title}}</h3>
                <p>{{i.content|truncatechars:80}}</p>
              </div>
            </a>
            {% endfor %}
          </div>
        </section>
      </div>
    </div>
    <footer class="text-center p-4 text-black mt-6">
      Developed By Bholi Ansari
    </footer>
  </body>
</html>
